{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Story 9{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/authcook_style.css' %}" id="theme_css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container-fluid header">
    <h1>Story 9</h1>
</div>

<div class="container-fluid">
    <div class="row regisbackground">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Login, Let's Go!</h4>
            <form action="{% url 'story_9:login' %}" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" id="btn_login" type="submit">Login</button>
                </div>
            </form>
            <p>Didn't have an account? <a href="{% url 'story_9:register' %}">Register Now</a></p>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}