{% extends 'base.html' %}
{% load static %}
{% block title %}Story 9{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/authcook_style.css' %}" id="theme_css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container-fluid header">
    <h1>Story 9</h1>
</div>

<div class="container-fluid">
    <div class="row regisbackground">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <h3>Welcome, {{ user }}</h3>
            <img src="{% static 'img/easter_egg.jpg' %}">
            <p>Jutaan orang bahkan tidak menyadari bahwa mereka bisa menghasilkan $1000 sehari tanpa meninggalkan rumah dan anda adalah salah satu dari mereka</p>
            <form action="{% url 'story_9:logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-info" id="btn_logout" type="submit">Logout</button>
            </form>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}