.header{
    display: flex;
    justify-content: center;
}

.search-box{
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.book-display{
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}