.container-fluid {
  background-color: white;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  color: #000000;
  padding: 2rem;
}

.container-fluid.dark {
  background-color: rgba(56, 56, 56, 0.795);
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  color: #ffffff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3e64ff;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.accord-header {
  background-color: #0084a5;
  color: whitesmoke;
}

.accord-header.dark {
  background-color: #b2fcff;
  color: #1b2a49;
}

.accord-content {
  background-color: whitesmoke;
  color: #3e64ff;
}

.accord-content.dark {
  background-color: #3e64ff;
  color: whitesmoke;
}

.footer {
  background-color: #3e64ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0pt;
}

#footer-item {
  color: whitesmoke;
}
/*# sourceMappingURL=theme.css.map */