{% extends 'base.html' %}
{% load static %}
{% block title %}Story 10{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/loadbal_style.css' %}">

<div id="content_box">
    <h1 id="par_item">Load Balancer</h1>
    <p id="par_item">
        Pada zaman sekarang, tentunya banyak orang yang sudah "terkoneksi" dengan internet. Melihat suatu website sudah menjadi makanan sehari-hari generasi masa kini. Website tersebut biasanya digunakan untuk memenuhi kebutuhan hidup, berinteraksi atau bersosialisasi, mendapatkan hiburan, atau hal-hal lainnya yang dapat dilakukan secara daring (online). Website-website tersebut tentunya tidak hanya di-request oleh anda saja. Boleh jadi pada detik yang sama terdapat seratus ribu orang seperti anda yang sedang mengakses website yang sama. Meskipun server menerima request sebanyak itu, mengapa server website tersebut tidak down?
    </p>

    <p id="par_item">
        Salah satu alasan server tersebut tidak down adalah adanya "load balancer". Makhluk apakah itu? Singkatnya, load balancer adalah suatu perangkat yang dapat yang berperan sebagai reverse proxy dan membagi beban kerja ke beberapa server. Untuk mempermudah pemahaman, anda dapat membayangkan diri anda menjadi salah satu pengemudi yang hendak mencari tempat parkir. Kemudian, untuk mempermudah anda menemukan tempat parkir, datanglah seorang tukang parkir yang dengan sigap menunjukkan anda harus parkir di suatu parking lot yang tentunya parking lot tersebut kosong. Pada analogi ini, tukang parkir adalah load balancer, pengemudi (anda) adalah orang yang melakukan request ke load balancer, sedangkan parking lot adalah server-server. Jadi, dapat disimpulkan bahwa load balancer salah satunya bertugas untuk mencari server mana yang sedang "kosong" yang kemudian dapat digunakan untuk melayani request user. Jika salah satu server mati pun, load balancer akan membagi beban kerja dari server yang mati ke server yang hidup.
    </p>

    <p id="par_item">
        Pada kesempatan kali ini, saya juga akan menunjukkan bagaimana cara kerja suatu load balancer menggunakan django dan nginx. Untuk membuat sebuah load balancer, anda hanya perlu mengunduh (download) nginx dari website resmi nginx (http://nginx.org/en/download.html). Kemudian setelah selesai mengunduh, maka extract folder tersebut di manapun anda inginkan. Setelah extract selesai, bukalah folder dengan nama "conf" dan temukanlah suatu file bernama "nginx.conf". Kemudian ubahlah isi dalam http menjadi seperti ini.
    </p>

    <img src="{% static 'images/conf_nginx.png' %}" width="400vw">

    <p id="par_item">
        Setelah itu, jalankan nginx dengan membuka command prompt dan ketikkan start nginx. Setelah itu, jalankan server-server django dengan mengetikkan port yang telah didefinisikan pada upstream backend (dalam hal ini 8000 dan 9000). Contoh dari syntaxnya : python manage.py runserver 8000. Kemudian bukalah suatu command prompt baru dan ketikkan python manage.py runserver 9000. Hasilnya akan menjadi seperti ini:
    </p>

    <img src="{% static 'images/runserver.JPG' %}" width="900vw">

    <p id="par_item">
        Setelah itu, pada browser coba ketikkan "localhost" dan refresh berkali-kali halaman websitenya. Selain itu, cobalah untuk mematikan salah satu server kemudian refresh kembali. Berikut ini saya lampirkan hasil uji coba tersebut:
    </p>

    <img src="{% static 'images/nyaladua.JPG' %}" width="900vw">
    <p id="par_item">Terjadi perbedaan server yang melayani request http dengan static</p>

    <img src="{% static 'images/mati8000.JPG' %}" width="900vw">
    <p id="par_item">Halaman tetap dapat diakses meskipun salah satu server dengan port 8000 dimatikan</p>

    <img src="{% static 'images/mati9000.JPG' %}" width="900vw">
    <p id="par_item">Halaman tetap dapat diakses meskipun salah satu server dengan port 9000 dimatikan</p>

    <p id="par_item">
        Dari sini, dapat disimpulkan bahwa load balancer akan mencari server yang masih available dan apabila keduanya available, maka load balancer akan mengarahkan request ke kedua server tersebut secara bergantian.
    </p>

    <p id="par_item">
        Kemudian untuk mematikan load balancer (dalam hal ini nginx), anda dapat mengetikkan perintah ini:
    </p>

    <img src="{% static 'images/matinginx.JPG' %}" width="450vw">
    <p id="par_item">nginx -s stop untuk mematikan load balancer</p>
    
    <p id="par_item">
        Demikian yang dapat saya sampaikan mengenai load balancer. Apabila ada kekurangan atau kesalahan dalam tulisan ini, saya memohon maaf dan terima kasih telah membaca.
    </p>
</div>
{% endblock content %}