{% extends 'base.html' %}
{% load static %}
{% block title %}Story 7{% endblock title %}

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/theme.css' %}" id="theme_css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/change-theme.js' %}"></script>

<div class="container-fluid">
    <h3>Change Theme
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </h3>

    <div id="accordion">
        <h3 class="accord-header">Aktivitas</h3>
        <div class="accord-content">
            <p>
                Code. Rapat. Eat. Sleep. Repeat
            </p>
        </div>
        
        <h3 class="accord-header">Pengalaman Organisasi / Kepanitiaan</h3>
        <div class="accord-content">
            <p>
                <ul>
                    <li>OSIS SMA Marsudirini Bekasi</li>
                    <ol>
                        <li>Seksi Kehidupan Berbangsa dan Bernegara (2016)</li>
                        <li>Bendahara 1 (2017)</li>
                    </ol>
                    <li>Misdinar Santo Bartolomeus</li>
                    <ol>
                        <li>Wakil Ketua (2016)</li>
                    </ol>
                    <li>Pemira Fasilkom UI</li>
                    <ol>
                        <li>Staf Divisi Pemungutan Suara (2018)</li>
                    </ol>
                    <li>Computer's Get Together</li>
                    <ol>
                        <li>Staf Divisi Bazaar dan Konsumsi (2018)</li>
                    </ol>
                    <li>BEM Fasilkom UI</li>
                    <ol>
                        <li>Staf Departemen Adkesma (2019)</li>
                    </ol>
                    <li>Compfest 11</li>
                    <ol>
                        <li>Staf Divisi Playground (2019)</li>
                    </ol>
                    <li>Open House Fasilkom UI</li>
                    <ol>
                        <li>Bendahara (2019)</li>
                    </ol>
                    <li>Educare</li>
                    <ol>
                        <li>Bendahara (2020)</li>
                    </ol>
                </ul>
            </p>
        </div>

        <h3 class="accord-header">Prestasi</h3>
        <div class="accord-content">
            <p>
                <ul>
                    <li>Juara III Wild games tingkat SMP</li>
                    <ul>
                        <li>lomba tentang ilmu pengetahuan alam yang diselenggarakan oleh SMAN 1 Bekasi</li>
                    </ul>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock content %}