{% extends 'base.html' %}
{% load static %}
{% block title %}Story 8{% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/ajax_style.css' %}" id="theme_css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/ajax_jquery.js' %}"></script>

<div class="container-fluid header">
    <h1>Book Seeker</h1>
</div>

<div class="container-fluid search-box">
    <div class="ui-widget">        
        <input type="text" id="search-box-input" placeholder="Search..">
    </div>
    <button type="button" id="search-button"><i class="fa fa-search"></i></button>
</div>

<div class="container-fluid book-display">
    <div class="table-responsive">
        <table class="table table-striped" id="buku-ini"></table>
    </div>
</div>
{% endblock content %}