{% load static %}
<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %} - Evando's Aftermid Story</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Evando's Story</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% with url_name=request.resolver_match.url_name %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'view_form' %} active {% endif %}" href="{% url 'story_6:view_form' %}">Story 6<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'landing_accord' %} active {% endif %}" href="{% url 'story_7:landing_accord' %}">Story 7</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'landing_ajax' %} active {% endif %}" href="{% url 'story_8:landing_ajax' %}">Story 8</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'landing_cookie' %} active {% endif %}" href="{% url 'story_9:landing_cookie' %}">Story 9</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'load_balancer' %} active {% endif %}" href="{% url 'story_10:load_balancer' %}">Story 10</a>
                </li>
                {% endwith %}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    
    <div class="footer">
        <p id="footer-item">Sebuah Story PPW</p>
    </div>
    
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>