{% extends 'base.html' %}
{% load static %}
{% block title %}Landing Page{% endblock title %}

{% block content %}
<h1 id="welcome_text">Halo, apa kabar?</h1>

<!-- Form untuk menginput status -->
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <h5 class="card-header header-form">Tambah Status</h5>
            <div class="card-body">
                <form action="" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-group" id="form_input">
                        {{ form.status_inputan }}
                    </div>
                    <button type="submit" class="btn btn-light" id="btn_submit">Tambah Status</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Daftar status yang telah ada -->
{% if semua_status %}
<div class="row">
    {% for tiap_status in semua_status %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text" id="form_output">{{ tiap_status.status_inputan }}</p>
            <p class="card-text" id="date_created">{{ tiap_status.date_created }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <h1>Belum ada Status</h1>
{% endif %}
{% endblock content %}