#content_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

#par_item{
    text-align: justify;
}